@using Diploma.Models
@using Diploma.LocalizationFiles
@model AuthViewModel

@section Style {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

@section Script {
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<ul class="nav nav-pills nav-justified mb-3" id="ex1">
    <li class="nav-item">
        <a class="nav-link active" id="tab-login" data-mdb-pill-init href="Login"
           aria-controls="pills-login" aria-selected="true">@Authorization.SignIn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-register" data-mdb-pill-init href="/Registration"
           aria-controls="pills-register" aria-selected="false">@Authorization.Register</a>
    </li>
</ul>


<div class="tab-content">
    <div class="tab-pane fade show active" aria-labelledby="tab-login">
        @using (Html.BeginForm(nameof(Diploma.Controllers.AuthController.Login), "Auth", FormMethod.Post, new { @class="mx-1 mx-md-4" }))
        {
            <!-- Login input -->
            <div data-mdb-input-init class="form-outline mb-4">
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control", id = "loginName", type="text" });
                <label class="form-label" for="loginName">@Authorization.Login/Email</label>
                @Html.ValidationMessageFor(x => x.Login);
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", id = "loginPassword", type = "password" });
                <label class="form-label" for="loginPassword">@Authorization.Password</label>
                @Html.ValidationMessageFor(x => x.Password);
            </div>

            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">@Authorization.SignIn</button>
        }
    </div>
</div>