@using Diploma.LocalizationFiles
@model BlockUserProfileViewModel

<script src="~/js/friend.js"></script>

<div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
    <div class="card rounded">
        <div class="cover">
            <div class="gray-shade"></div>
            <div class="cover-body d-flex justify-content-between align-items-center">
                <div>
                    <img class="profile-pic" src="@Model.UserAvatarUrl" alt="profile">
                    <span class="profile-name">@Model.Username</span>
                    @if (Model.CanChangeAvatar)
                    {
                        <form action="/user/UpdateUserAvatar" method="post" enctype="multipart/form-data">
                            <div class="form-file">
                                <input type="hidden" name="userId" value="@Model.UserId" />
                                <input type="file" name="avatar" class="form-file-input" id="customFile" accept="image/png, image/jpeg">
                                <label class="form-file-label" for="customFile">
                                    <span class="form-file-text">Выбрать файл...</span>
                                    <span class="form-file-button">Посмотреть</span>
                                </label>
                            </div>
                            <input type="submit" value="@Profile.ChangeAvatar" />
                        </form>
                    }

                    @if (User.Identity.IsAuthenticated && (User.FindFirst("id").Value != Model.UserId.ToString()))
                    {
                        @if (Model.CanAddFriend)
                        {
                            <div class="add-friend">
                                <input type="hidden" class="mainUserId" value="@User.FindFirst("id").Value" />
                                <input type="hidden" class="userId" value="@Model.UserId" />
                                <input type="button" class="btn-friend" value="@Profile.AddToFriends" />
                            </div>
                        }
                        else
                        {
                            <div class="remove-friend">
                                <input type="hidden" class="mainUserId" value="@User.FindFirst("id").Value" />
                                <input type="hidden" class="userId" value="@Model.UserId" />
                                <input type="button" class="btn-friend" value="@Profile.RemoveFromFriends" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (Model.Birthday != null)
            {
                <div class="mt-3">
                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">@Profile.DateOfBirth:</label>
                    <p class="text-muted">@Model.Birthday</p>
                </div>
            }
            <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                <p class="text-muted">@Model.Email</p>
            </div>
        </div>
    </div>
</div>